#body_style{
    background-color:darkslateblue;
    text-align: center;
}



#para_1_combiner{

    background: linear-gradient(cornflowerBlue 0%, #ff9190 100%);
    padding-bottom:20px;

}

#para_2_combiner{

    background: linear-gradient(cornflowerBlue 0%, #ff9190 100%);
    padding-bottom: 20px;

}
